@model PathApp.Models.PercorsiModel

@{
    ViewData["Title"] = "Edit";
}

    <h1>Edit Path</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.IdPercorso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPercorso" />
            <div class="form-group">
                <label asp-for="IdSottorete" class="control-label"></label>
                <input asp-for="IdSottorete" class="form-control" />
                <span asp-validation-for="IdSottorete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStazioneOrigine" class="control-label"></label>
                <input asp-for="IdStazioneOrigine" class="form-control" />
                <span asp-validation-for="IdStazioneOrigine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdStazioneDestinazione" class="control-label"></label>
                <input asp-for="IdStazioneDestinazione" class="form-control" />
                <span asp-validation-for="IdStazioneDestinazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVia1" class="control-label"></label>
                <input asp-for="IdVia1" class="form-control" />
                <span asp-validation-for="IdVia1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVia2" class="control-label"></label>
                <input asp-for="IdVia2" class="form-control" />
                <span asp-validation-for="IdVia2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distanza" class="control-label"></label>
                <input asp-for="Distanza" class="form-control" />
                <span asp-validation-for="Distanza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Versione" class="control-label"></label>
                <input asp-for="Versione" class="form-control" />
                <span asp-validation-for="Versione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Path List</a>
</div>

